<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="site.css"></link>
    <title>Travel App</title>
  </head>
  <body>

    <h3>Enter your trip information:</h3>

    <form action="/trips"  method="post">
      <input type="text" name="destination"/>
      <input type="date" name="departure"/>
      <input type="date" name="comeBack"/>
      <input type="text" name="image"/>
      <input type="submit" value="Submit"/>
    </form>

    <h3>Your Trips</h3>

    <ul>
      {{#trips}}
      <li>
        Destination: {{trip}}<br>

        Departure Date: {{departureDate}}<br>

        Return Date: {{returnDate}}<br>

        <img src="{{image}}">
        
        <form action="/deleteTrip" method='post'>
          <input type="hidden" value="{{tripId}}" name="deletedTrip"/>
          <input type="submit" value="Delete"/>
        </form>

      </li>
      {{/trips}}
    </ul>

  </body>

</html>
